{{!-- show blogpost content --}}
<div class="blogpost">
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <p>{{content}}</p>
    <p>Written by: {{author}}</p>
    <p>Created on: {{createdAt}}</p>
</div>